
<h1>Fill Out This Form</h1>

<form action="/" method="POST">
    <label for="l1">A Greeting: </label><input type="text" name="greet" id="l1">
    <br/><br/>
    <label for="l2">Your Name: </label><input type="text" name="name" id="l2">
    <br/><br/>
    <input type="submit">
</form>

<br/><br/>
<h1>upload a pic</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="l11">Select a pic: </label><input type="file" name="file" id="l11">
    <br/><br/>
    <input type="submit">
</form>




